  *{
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
  }

  body{
    overflow-x: hidden;
  }
  .box{
    width: 100%;
    margin: auto;
    border-style: solid;
    border-width: 50px 75px 0px 75px;
    border-color: #056c86;
  }
  #btn{
    background-color: #ebd329e8;
    color: white;
  }
  #btn:hover{
    background-color: indigo;
  }

  .navbarbrand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 6rem;
    margin-left: 13rem;
    font-size: 1.35rem;
    font-weight: bolder;
    text-decoration: none;
    white-space: nowrap;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
    padding: 7px 16px 7px 37px;
  }
  .nav-link:hover {
    color: indigo;
  }
  .contactimg {
    height: 300px;
  }
  .formhead {
    padding-left: 30px;
  }
  .form {
    padding-left: 30px;
  }
  #banner {
    margin-left: 13rem;
    padding-top: 150px;
  }
  .form-btn {
    border-radius: 0;
    width: 350px;
    color: white;
    padding: 3px;
  }
  .blog-btn {
    background-color: gainsboro;
    border: 2px solid gainsboro;
    border-radius: 2px;
    padding: 8px 8px 8px 8px;
  }
  .date {
    color: rgb(172, 170, 170);
  }
  .blog-btn:hover {
    background-color: #ebd329e8;
    border: 2px solid #ebd329e8;
  }
  .signup-submit {
    background-color: #ebd329e8;
    border: 2px solid #ebd329e8;
    position: relative;
    padding: 8px 8px 8px 8px;
    left: -5px;
    border-radius: 2px;
  }
  .signup-search {
    padding: 8px 8px 8px 8px;
    width: 400px;
  }
  .signup-search2 {
    padding: 8px 8px 8px 8px;
    width: 400px;
    display: none;
  }
  .signup-submit2 {
    margin-top: 30px;
    background-color: rgb(128 17 127);
    border: 2px solid rgb(128 17 127);
    position: relative;
    color: white;
    padding: 8px 8px 8px 8px;
    left: 197px;
    border-radius: 2px;
  }
  #teammain {
    height: 700px;
  }
  @media only screen and (max-width: 770px) {
    #teammain {
      height: 2000px;
    }
  }
  .welcome-para {
    text-align: left;
  }
  #welcol1 {
    padding-left: 100px;
    font-size: x-large;
  }
  #umbrella {
    height: 180px;
    margin-right: 550px;
  }
  .wel-btn {
    background-color: yellow;
    border: 2px solid yellow;
    border-radius: 3px;
  }
  .wel-btn:hover {
    background-color: indigo;
    border: 2px solid indigo;
    color: white;
  }
  #projectrow {
    background-color: #d8d8d8;
    height: 700px;
    width: 100%;
    transform: translateX(12px);
  }
  @media only screen and (max-width: 880px) {
    #projectrow {
      height: 900px;
    }
  }
  @media only screen and (max-width: 770px) {
    #projectrow {
      height: 2300px;
    }
  }
  @media only screen and (max-width: 420px) {
    #projectrow {
      height: 2500px;
    }
  }
  .projectrow1{
    background-color: #d8d8d8;
    height: 300px;
  }
  .projectrow1:hover{
    background-color: yellow;
  }
  .projecthead {
    text-align: left;
    padding-left: 10px;
    padding-top: 30px;
    margin-top: 400px;
  }
  .projectpara {
    text-align: left;
    padding-left: 10px;
  }
  .prbtn {
    background-color: white;
    border: 2px solid white;
    padding: 5px;
    border-radius: 3px;
  }
  .prbtn:hover {
    background-color: indigo;
    border: 2px solid indigo;
    color: white;
  }  
  .pricebtn {
    background-color: #ebd329e8;
    border: 2px solid #ebd329e8;
    border-radius: 2px;
    padding: 0px 18px 0px 18px;
  }
  .pricebtn:hover {
    background-color: indigo;
    border: 2px solid indigo;
    border-radius: 2px;
    padding: 0px 18px 0px 18px;
    color: white;
  }
  .l{
    border-left: 1px solid grey;
    height: 200px;
    position: absolute;
    left: 35%;
    margin-left: 2px;
    transform: translateY(70px);
  }
  .r{
    border-right: 1px solid gray;
    height: 200px;
    position: absolute;
    right: 35%;
    margin-right: 2px;
    transform: translateY(70px);
  }
  * {
    box-sizing: border-box;
  }
  .container {
    position: relative;
  }
  .ImgBox {
    width: 720px;
    margin: 50px auto 20px;
  }
  .ImgBox img{
    width: 100%;
    border: 1px solid #fff;
  }
  ul.thumbnail{
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  .team {
    padding: 70px 0 0px;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .team-item {
    width: 26%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team-item-img {
    position: relative;
    margin-bottom: 30px;
  }
  .team-item-img-links {
    display: none;
    justify-content: center;
    align-items: center;
    width: 173px;
    height: 173px;
    border-radius: 50%;
    background-color: #660066;
    opacity: 0.8;
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
  }
  .team-item-img-links a {
    margin: 0 6px;
  }
  .team-item-img:hover .team-item-img-links {
    display: flex;
  }
  h5.team-item-name {
    font-style: 14px;
    line-height: 7px;
    margin-bottom: 20px;
  }
  h5.team-item-job {
    font-style: 14px;
    font-weight: 600;
    color: #a1a1a1;
    margin-bottom: 70px;
  }
  #videoProjects_section {
    background-color: darkmagenta;
    margin: auto;
    padding: 14px;
    height: 500px;
  }
  .videoProjects_section_heading {
    color: white;
    padding-top: 10px;
    text-align: center;
  }
  #video_section_slide_wrapper {
    max-width: 100%;
    width: 2000px;
    margin: 0 15px;
    display: flex;
    min-height: 100px;
    align-items: center;
  }
  #video_section_slider {
    width: 1600px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  #video_section_slider::-webkit-scrollbar {
    display: none;
  }
  .video_section_thumbnail {
    object-fit: cover;
    max-width: 600px;
    max-height: 400px;
    cursor: pointer;
    opacity: 1;
    margin-top: 1px;
    margin-left: 2%;
    margin-bottom: 1%;
  }
  .video_section_thumbnail:hover {
    opacity: 0.9;
  }
  .play_Button {
    height: 60px;
    width: auto;
    position: relative;
    right: 20%;
    margin-top: 180px;
  }
  .play_Button:hover {
    opacity: 0;
    cursor: pointer;
  }
